.div {
    width: 201px;
    height: 350px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
}

.img {
    width: 200px;
    height: 150px;
    border: 1px solid;
}