.Section2 {
    width: 990px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* height: 500px; */
    flex-wrap: wrap;
    margin-top: 30px;
    margin: auto;

}
