.Section2 {
  width: 990px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  margin: 40px auto;
}

.btnDiv {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-left: 38px;
}

.button {
    font-size: 16px;
  border: 1px solid #707070;
  background: #fff;
  border-radius: 4px;
  color: #888888;
  height: 39px;
  width: 260px;
  margin: 30px auto;
  cursor: pointer;
}