.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 327px;
    width: 34%;
}

.input {
    width: 340px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.radioBtn {
    display: flex;
    gap: 15px;
}

.radioBtn2 {
    gap: 5px;
}

.button {
    font-size: 16px;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    height: 39px;
    width: 340px;
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}