.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 340px; */
    height: 327px;
    width: 50%;
}

.input {
    top: 441px;
    left: 870px;
    width: 340px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.radioBtn {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.radioBtn2 {
    margin-left: 20px;
}